  <h3> <%= name %> </h3><br>
    
  <%= form_for @marca, url: "#{url}" do |f| %>
    <div>
        <%= label_tag(:l, "Nombre:") %> <br>
        <%= f.hidden_field :id %>
        <%= f.text_field :nombre, placeholder:"Nombre" %>
        <div>
      <%= f.submit "Guardar" %>
    </div>
    </div>
  <% end %>

   <% @marca.errors.full_messages.each do |message| %>
    <div class="text-danger">
        * <%= message %>
    </div>
  <% end %>