
<div class="container">
<h1>Administración de marcas</h1><br>

  <h3>Registro de marcas</h3><br>
    
  <%= form_for @marca, url: "/marca" do |f| %>
    <div>
        <%= label_tag(:l, "Nombre:") %> <br>
        <%= f.text_field :nombre, placeholder:"Nombre", class:"form-control" %>
    </div>

    <% @marca.errors.full_messages.each do |message| %>
    <div class="text-danger">
        * <%= message %>
    </div>
    <% end %>
  
    <div style="padding-top: 1em">    
      <%= f.submit "Registrar", class:"btn btn-primary" %>
    </div>
  <% end %>
  
  <h3>Listado de marcas</h3><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @marcas.each do |marca| %>
      <tr>
        <td class="text-justify"><%= marca.nombre %></td>
        <td><%= link_to "Modificar","marca/#{marca.id}/edit" %></td>
        <td><%= link_to "Eliminar","marca/delete/#{marca.id}", onclick:"confirmacion()" %></td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(function(){
  $("#menu1").addClass("active");
});

function confirmacion(){ 
    if (!confirm('¿Estas seguro de realizar esta acción?')){ 
       event.preventDefault();
    } 
} 
</script>