<div class="container">

    <h3>Editar marca</h3><br>
    
  <%= form_for @marca, url: "/marca/#{@marca[:id]}" do |f| %>
    <div>
        <%= label_tag(:l, "Nombre:") %> <br>
        <%= f.hidden_field :id %>
        <%= f.text_field :nombre, placeholder:"Nombre" %>
    </div>

    <% @marca.errors.full_messages.each do |message| %>
    <div class="text-danger">
        * <%= message %>
    </div>
  <% end %>

    <div style="padding-top: 1em">    
      <%= f.submit "Guardar", class:"btn btn-primary" %>
    </div>

  <% end %>

</div>

<script type="text/javascript">
$("#menu1").addClass("active");
</script>