<!DOCTYPE html>
<html>
<head>
  <title>Inventario.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'michelada.ico' %>
</head>
<body>

  <ul class="nav nav-tabs">
    <li id="menu1"><%= link_to "Marcas", root_path %></li>
    <li id="menu2"><%= link_to "Productos", "/productos" %></li>
  </ul>

  <%= yield %>

</body>
</html>
