<!DOCTYPE html>
<html>
<head>
  <title>Inventario.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'michelada.ico' %>
</head>
<body>

  <nav>
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-th-list"></span> Inventario.io
        </a>
    </div>
    <ul class="nav nav-tabs">
      <li id="menu1"><%= link_to "Marcas", root_path %></li>
      <li id="menu2"><%= link_to "Productos", "/productos" %></li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
